name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.5"
          cache: true

      - name: Decode keystore
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > android/app/upload-keystore.jks

      - run: flutter pub get
      - run: flutter analyze --no-fatal-warnings --no-fatal-infos
      - run: flutter test

      - name: Build release APK with signing
        run: |
          cd android
          ./gradlew assembleRelease -PkeyStorePath=../android/app/upload-keystore.jks -PkeyAlias=${{ secrets.KEY_ALIAS }} -PkeyStorePassword=${{ secrets.KEYSTORE_PASSWORD }} -PkeyPassword=${{ secrets.KEY_PASSWORD }}
        env:
          KEYSTORE_PATH: android/app/upload-keystore.jks

      - uses: actions/upload-artifact@v4
        with:
          name: EleagueHub-release-apk
          path: android/app/build/outputs/apk/release/app-release.apk
